# Webapp & Database Config
DATABASE_URL="postgresql://cfp_user:strongpassword@db:5432/cfp_bot"
APP_URL="http://localhost:3000"
PORT=3000

#AI Config
OPENAI_API_KEY=""
CHAT_AI_API_KEY="sk-proj-xxx"

#Scraping Config
MAX_DEPTH=5
LINKS_PER_LEVEL=50
TIMEOUT_PER_PAGE=30
SYSTEM_USER_ID=1