// This is an example .env file. Copy this to .env and fill in the values.

DATABASE_URL="postgresql://cfp_user:strongpassword@db:5432/cfp_bot"
APP_URL="http://localhost:3000"

// You can use OpenAI via the OpenAI API or the ChatAI API. If you want to use the ChatAI API, 
// set the OpenAI_API_KEY to an empty string and fill in the CHAT_AI_API_KEY instead.
OpenAI_API_KEY="sk-proj-xxx"
CHAT_AI_API_KEY="sk-proj-xxx"

// Leave this as it is. 
SYSTEM_USER_ID=1
PORT=3000