html,

* {
  box-sizing: border-box;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

li {
  list-style: none;
}

body {
  background-color: #aed0bd;
  min-height: 100%;
  margin: 0;

  display: flex;
  flex-direction: row;

  justify-content: flex-start;
  align-items: center;
}

.rechteck-sidebar {
  width: 25vw;
  height: 95vh;
  background-color: #95c6ac;
  margin: 12px;

  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  align-items: center;
}

.rechteck-leftside {
  width: 35vw;
  height: 95vh;
  background-color: #95c6ac;
  margin: 12px;

  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  align-items: center;
}

.rechteck-rightside {
  width: 35vw;
  height: 95vh;
  background-color: #95c6ac;
  margin: 12px;

  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  align-items: center;
}

.home-dropdown {
  width: 20vw;
  height: 12vh;
  background-color: #f6fdff;
  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
}

.sidebar-btn {
  width: 20vw;
  height: 7vh;
  margin-top: 15px;
  border: 2px;
  border-radius: 10px;
  background-color: #f6fdff;
}

.sidebar-btn:focus {
  width: 20vw;
  height: 7vh;
  margin-top: 15px;
  border: 2px;
  border-radius: 10px;
  background-color: #93baeb;
}

.scroll-list {
  margin: 0;
  padding: 2px;
  list-style: none;
}

.scroll-list li {
  width: 10vw;
  border: 2px solid black;
  padding: 8px 12px;
  margin-bottom: 2px;
  background-color: #fff;
}

.newtag-div {
  width: 20vw;
  height: 4vh;
  background-color: #f6fdff;
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;
}

.tagsp-div {
  width: 20vw;
  height: 4vh;
  background-color: #f6fdff;
  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  align-items: center;
}

.tag-input {
  margin-top: 7px;
  margin-bottom: 7px;
  text-align: center;
}

.tag-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 2px solid black;
  padding: 60px 10px;
  margin-bottom: 6px;
}

.delete-btn {
  background: transparent;
  border: 2px solid black;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.delete-btn:hover {
  color: red;
}

.add-cfp {
  width: 7vw;
  height: 5vh;
  background-color: #f6fdff;
  display: flex;
  flex-direction: row;
  border: 2px;
  border-radius: 10px;

  justify-content: flex-start;
  align-items: center;
}

.cfp-header {
  width: 35vw;
  height: 5vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.addcfp-btn {
  margin-left: auto;
  margin-right: 5px;
  font-size: 25px;
}

.cfp-title {
  margin-left: 5px;
  font-size: 25px;
}

.cfp-searchbar {
  width: 100%;
  height: 100%;
  margin-left: auto;
  border: 2px;
  border-radius: 10px;
}

.search-wrapper {
  margin-left: auto;
  width: 25vw;
  height: 5vh;
  display: inline-block;
  position: relative;
}

.search-wrapper button {
  position: absolute;
  right: 0.25rem;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.addcfp-div {
  width: 40vw;
  height: 40vh;
  background-color: #f6fdff;
  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px;
  border-radius: 10px;
}

.addcfp-list {
  width: 430px;
  margin: 30px;
  margin-right: 7vw;
  float: left;
}

.addcfp-list label {
  width: 210px;
  padding-right: 10px;
  text-align: right;
  display: inline-block;
  margin: 5px;
}

.confirm-btn {
  margin: 20px;
}

.discard-btn {
  margin: 20px;
}

.cfp-card {
  width: 27vw;
  height: 35vh;
  background-color: #f6fdff;
  display: flex;
  flex-direction: column;
  margin: 10px;

  border: 2px;
  border-radius: 10px;
}

.cfps-list {
  overflow-y: auto;
}

.cfp-card h3 {
  padding-left: 20px;
}

.cfp-details {
  margin: 5px;
}

.cfp-details li {
  margin: 10px;
}


.rechteck-newgrp {
  width: 75vw;
  height: 95vh;
  background-color: #95c6ac;
  margin: 12px;

  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  align-items: stretch;

}

.groupname,
.add-keyword {
  width: 40vw;
  height: 9vh;
  border: 2px;
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: 16vw;
}

.keywords-div{
  width: 40vw;
  height: 30vh;
  background-color: #f6fdff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;

  border: 2px;
  border-radius: 10px;
  margin-left: 16vw;
}

.keywordstitle-div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addkeyword-btn{
  height: 9vh;
  width: 4vw;
  background: lightgreen;
  border: none;
  padding: 0;
}

.creategrp-btn{
  height: 7vh;
  width: 20vw;
  background: lightgreen;
  border: 2px;
  border-radius: 10px;
  margin-top: 5vh;
  font-size: 24px;
  margin-left: 26vw;
}

.groups-div {
  height: 60vh;
  width: 20vw;
  background: #95c6ac;

  display: flex;
  flex-direction: column;
  align-items: center;
}


.groups-div ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.group-item-div {
  width: 100%;          
  margin-bottom: 15px;
  background: lightgreen;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.group-item-title-div {
  margin-top: 2vh;
  width: 20vw;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #f6fdff;
  height: 40px;       
}     

.join-group-btn,
.leave-group-btn {
  position: absolute;
  left: 1vw;
}

.group-item-title {
  margin: 0 auto;          
}


.group-item-dropdown-btn {
  position: absolute;
  right: 1vw;
}


.groups-screen-div {
  width: 75vw;
  height: 95vh;
  background-color: #95c6ac;
  margin: 12px;

  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  align-items: stretch;
}

.user-screen-div{
  width: 99vw;
  height: 97vh;
  background-color: #95c6ac;
  margin: 12px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

}

.user-list-div{
  width: 25vw;
  height: 65vh;
  background-color: #f6fdff;
  border: 2px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.user-para-text{
   margin-top: 10vh;
   font-size: 24;
}

.add-user {
  height: 4vh;
  width: 12vw;
  bottom: 20px;
  border: 1px solid black;

}

.new-user-div{
  position: absolute;
  height: 4vh;
  bottom: 20px;
  width: 80%;

  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.new-user-btn{
  height: 4vh;
  width: 2vw;
  border: 1px solid black;
  font-size: 24px;
}

.scroll-list-users{
  margin-top: 10px;
  padding: 2px;
  list-style: none;
}

.user-item{
  width: 10vw;
  border: 2px solid black;
  padding: 8px 12px;
  margin-bottom: 10px;
  background-color: #fff;

  display: flex;             
  justify-content: space-between;  
  align-items: center;
}
.delete-user-btn{
  background: transparent;
  border: 2px solid black;
  color: black;
  font-weight: bold;
  cursor: pointer;
}
