html,
body {
  background-color: #aed0bd;
  min-height: 100%;
  margin: 0;
}

.rechteck-sidebar {
  width: 25vw;
  height: 100vh;
  background-color: #95c6ac;
  margin: 12px;

  display: flex;
  flex-direction: column;

  justify-content: flex-start; 
  align-items: center;         
}

.home-dropdown {
  width: 20vw;
  height: 12vh;
  background-color: #f6fdff;
  display: flex;
  flex-direction: column;

  justify-content: flex-start; 
  align-items: center;    
  overflow-y: auto;
}

.sidebar-btn{
  width: 20vw;
  height: 7vh;
  margin-top: 15px;
  border: 2px;
  border-radius: 10px;
  background-color: #f6fdff;
}

.sidebar-btn:focus{
  width: 20vw;
  height: 7vh;
  margin-top: 15px;
  border: 2px;
  border-radius: 10px;
  background-color: #93baeb;
}

.scroll-list {
  margin: 0;
  padding: 2px;
  list-style: none;
}

.newtag-div {
  width: 20vw;
  height: 4vh;
  background-color: #f6fdff;
  display: flex;
  flex-direction: row;

  justify-content: center; 
  align-items: center;    
}

.tagsp-div {
  width: 20vw;
  height: 4vh;
  background-color: #f6fdff;
  display: flex;
  flex-direction: column;

  justify-content: flex-start; 
  align-items: center;    
}

.tag-input {
  margin-top : 7px;
  margin-bottom : 7px;
  text-align: center;
}
