html,
body {
  background-color: #aed0bd;
  min-height: 100%;
  margin: 0;
}

.rechteck-sidebar {
  width: 25vw;
  height: 100vh;
  background-color: #95c6ac;
  margin: 12px;

  display: flex;
  flex-direction: column;

  justify-content: flex-start; 
  align-items: center;         
}

.btn-home{
  width: 20vw;
  height: 7vh;
  margin: 15px;
  border: 2px;
  border-radius: 10px;
}

.btn-newgrp{
  width: 20vw;
  height: 7vh;
  margin: 15px;
  border: 2px;
  border-radius: 10px;
}

.btn-grps{
  width: 20vw;
  height: 7vh;
  margin: 15px;
  border: 2px;
  border-radius: 10px;
}
